<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CF"
        tools:targetApi="31">
        <activity
            android:name=".FilterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cf.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Fundraiser"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".MedicalDetails"
            android:exported="false" />
        <activity
            android:name=".AmountDetails"
            android:exported="false" />
        <activity
            android:name=".PersonalDetails"
            android:exported="false" /> <!-- Remove or update the following meta-data line -->

        <activity
            android:name=".main_fragment"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FundraiserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".next_donation"
            android:exported="false" />
        <activity
            android:name=".previous_donation"
            android:exported="false" />
        <activity
            android:name=".FundraiserDetailsActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".PersonalDetailsFragment"
            android:exported="false" />
        <activity
            android:name=".choosepath"
            android:exported="false" />
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>